{% extends "dashboard/includes/delete_confirm.html" %}

{% block title %}Delete Statistic{% endblock %}
{% block page_title %}Delete Statistic{% endblock %}

{% block breadcrumb %}
<span class="text-[#899bbd]">/</span>
<a href="{% url 'dashboard:statistic_list' %}" class="text-[#899bbd] hover:text-primary transition">Statistics</a>
<span class="text-[#899bbd]">/</span>
<span class="text-[#899bbd]">Delete</span>
{% endblock %}

{% block cancel_url %}{% url 'dashboard:statistic_list' %}{% endblock %}
